<div class='row'>
  <h1 class='span8 tagline'>Give Facebook a case of short term memory loss</h1>
</div>

<div class='palette palette-info detail-step'>
  Create a post
</div>

<div class='row'>
  <span class='span8 demonstration'>
    <div class='demo-image'>
      <div class='demo-image-after'></div>
    </div>
    <textarea class='postarea demo' disabled>Lorem ipsum dolor sit amet...</textarea>
  </div>
</div>

<div class='palette palette-info detail-step'>
  Give it an expiration date
</div>

<div class='palette palette-info detail-step'>
  Hit submit and wait
</div>
